.motivation-card {
  width: 350px;
  background-color: #fce4ec !important;
  margin: 20px auto;
  padding: 10px;
  border-left: 5px solid #e91e63;
}

.motivation-title {
  font-size: 18px;
  font-weight: bold;
}
